[project]
name = "stock-analysis-agent-padanticai"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "pydantic-ai[examples]>=0.1.10",
]
